dist: xenial
language: python

addons:
  apt:
    packages:
    - socat

env:
  global:
    INSTALL_DIR: >-
      $HOME/redis
    PYTEST_ADDOPTS: >-
      "-n $(( $(nproc) * 2 ))"

python:
- "3.5"
- "3.6"
- "3.7"
- "nightly"
- "pypy3.5-7.0"
- "pypy3.6-7.1.1"

stages:
- lint
- test
- examples

jobs:
  include:
  # Add two extra tests with uvloop
  - &UVLOOP
    env: UVLOOP="y"
    python: "3.6"
  - <<: *UVLOOP
    python: "3.7"
  # Lint and spell-check docs
  - stage: lint
    cache: false
    name: documentation spell check
    python: "3.7"
    addons:
      apt:
        packages:
        - enchant
        - aspell
        - aspell-en
    install:
    - pip install -r docs/requirements.txt
    - pip install -e. -c tests/requirements.txt
    script: make spelling
  - &FLAKE
    name: flake
    cache: false
    python: "3.6"
    install:
    - pip install -r tests/requirements.txt
    script:
    - make flake
  - <<: *FLAKE
    python: "3.7"
  - &MYPY
    name: mypy
    cache: false
    python: "3.6"
    install:
    - pip install -r tests/requirements.txt -r tests/requirements-mypy.txt
    script:
    - make mypy
  - <<: *MYPY
    python: "3.7"
  # Run examples
  - &EXAMPLES
    stage: examples
    cache: false
    python: 3.7
    install:
    - pip install -e. -c tests/requirements.txt
    script:
    - make examples

install:
- make ci-prune-old-redis
- make -j ci-build-redis
- |
    if [ "$UVLOOP" = "y" ]; then
      export PYTEST_ADDOPTS="$PYTEST_ADDOPTS --uvloop"
      pip install uvloop
    fi;
- pip install codecov
- pip install -r tests/requirements.txt
- pip install -e. -c tests/requirements.txt

script:
- make ci-test

cache:
  directories:
  - $HOME/redis/

after_script:
- codecov -f coverage.xml
